.vscode/
.DS_Store

frontend/.angular/
frontend/node_modules/
frontend/dist/

backend/.env
backend/data/db/*
backend/data/thumbnails/*
backend/venv/

# ignore tous les dossiers __pycache__
__pycache__/